[package]
name = "mango_chainsaw"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
bytes = "1.5.0"
figment = { version = "0.10.11", features = ["env", "yaml", "parse-value"] }
log = "0.4.20"
rayon = "1.8.0"
serde = "1.0.190"
serde_derive = "1.0.190"
sled = "0.34.7"
thiserror = "1.0.50"
tokio = { version = "1.33.0", features = ["full"] }
simplelog = "0.12.1"
actix-web = "4.4.0"
futures = "0.3.29"
futures-util = "0.3.29"

[dev-dependencies]
tempfile = "3.8.1"
